@import '~styles/mixins';

@keyframes pulseBror {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0;
  }
}

.container {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  transition: background 200ms ease;

  &_grey {
    &:hover {
      background: $grey2;
    }
  }

  &_blue {
    &:hover {
      background: $blue;
    }
  }
}

.animation {
  animation: pulseBror 1s ease-out;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;

  &_grey {
    background: $grey3;
  }

  &_blue {
    background: darken($blue, 10%);
  }
}
