@import '~styles/mixins';

.container {
  height: $four-base-margin;
  width: $four-base-margin;

  &:hover {
    svg {
      fill: $blue;
      stroke: $blue;
    }
  }
}

.innerContainer {
  display: block;
  height: $four-base-margin;
  width: $four-base-margin;
  position: relative;
  border-radius: 50%;
}

.icon {
  @include absolute-center;

  pointer-events: none;
  height: 15px;
  width: 15px;
  transition: fill 100ms ease;

  &_heartFilled,
  &_heartOutlined {
    height: $two-base-margin;
    width: $two-base-margin;
  }

  &_heartFilled {
    stroke: $red;
    fill: $red;
  }
}
